body {
    background: #f4f4f4;
}

.container {
    width: 90%;
/*    margin-left: auto;
    margin-right: auto;*/
    text-align: left;
}

.container h5 {
    font-size: 1.15rem;
    font-color: #212529;
}

.container-form {
    width: 30%;
    margin: auto;
    text-align: left;
}

.table-results {
    width:90%;
}

#title-main {
    margin-bottom: 25px;
}